[data-action] {
  padding: 0.125em 0.25em;
  border: 0;
  border-radius: 0.25em;
  margin: 0.25em;
  background: 0;
  cursor: pointer;
  font-size: smaller;
  text-transform: lowercase;
}

[data-action="delete"] {
  color: white;
  background: #dc3545;
}
