.toDo [type="checkbox"] {
  margin: 0 0.25rem 0 0;
}

.toDo :checked + label {
  text-decoration: line-through;
}

.toDo [data-action] {
  padding: 0 0.25rem;
  border: 0;
  border-radius: 0.25rem;
  margin: 0.25rem 0 0.25rem auto;
  background: 0;
  cursor: pointer;
  font-size: smaller;
  text-transform: lowercase;
}

.toDo [data-action="delete"] {
  color: white;
  background: #dc3545;
}
